.editProjectSection.successMessage {
  color: green;
  font-weight: bold;
}

.editProjectForm {
  margin-top: 20px;
}

.editProjectFormLabel {
  display: block;
  margin-bottom: 10px;
}

.editProjectFormInput {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.editProjectButton {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editProjectButton:hover {
  background-color: #45a049;
}
