.loginFormContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.loginTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginLabel {
  margin-bottom: 10px;
}

.inputLoginForm {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}