.header-main {
  background-color: #022E51;
  height: 60px;
  padding: 10px;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  font-family: "Monserrat", sans-serif;
  line-height: 40px;
  margin-right: 20px;
  color: #fff;
}

.navbar-nav {
  float: right;
}

.navbar-nav li {
  display: inline-block;
  margin-left: 10px;
}

.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  padding: 10px;
  font-family: "Monserrat", sans-serif;
}

.navbar-nav li a:hover {
  color: #ccc;
}
